/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 18, 2018, 2:24:22 AM
    Author     : vudung
*/
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700);

body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif !important;
    line-height: normal;
}
h1,h2,h3,h4,h5,h6{
    
}
.navbar1{
    
    
    
    
}
.navbar-inverse{
    background-color: whitesmoke;
    
}
.navbar-brand{
    color: white !important;
}
.navbar-nav{
    padding-top: 7.5px;
    
    padding-bottom: 7.5px;
    
    margin: 0;
}
.a:link{
    color:white;
}
#myNavbar{
    border-bottom: 1px solid #eaeaea;
}
#myNavbar ul{
    width: 100%;
    
    overflow: auto;
    white-space: nowrap;
}
#myNavbar ul li{
    display: inline-block;
}
#myNavbar> ul>li>a{
    color:black;
    font-size: 13px;
    text-transform:uppercase;
}
.navbar-fixed-top {
    position: -webkit-sticky;
    position: sticky;
    top: -2px;
    
}

nav>.active>a{
    background-color:#546076 !important;
    
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color:red !important;
  font-weight: bold;
  font-size: 12.5px !important;
  background-color: whitesmoke;
  padding: 2px;
}
.container-fluid {
    padding-right: 2px;
    padding-left: 2px;
    margin-right: auto;
    margin-left: auto;
}
@media only screen and (max-width: 320px) {
    #myNavbar> ul>li>a{
        color:black;
        font-size: 10px;
        text-transform:uppercase;
    }
 
}

/*Footer*/
#login {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: -50px; 
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}
.social-icon{
  list-style: none;
  padding: 0;
  margin: 0;
  width:50%;
}
#hi{
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    right: -50px; 
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color:#f2dede;
}

.social-icon li button text{
  display: inline-block;
  text-align: center;
  font-size: 13px;
  vertical-align: middle !important;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.social-icon i {
  font-size: 25px;
}

.footer {
  position: fixed;
  bottom: 0%;
  left: 0;
  padding-top: 5px;
  width: 100%;
  height: 44px;
  background: rgba(0,0,0,.7);
}
/* 
    left: 50%; 
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
*/
#overlay{
    background-color: #fefefe;
    position: fixed;
    transition: 0.3s;
    left:0;
    bottom: 0;
    right: 0;
    line-height: normal;
    width: 100%; /* Could be more or less, depending on screen size */
    height:0;
    z-index:100000;
    cursor: pointer;
    max-height: 100%;
    overflow-y: auto;
    overflow-x:hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    background-color: rgba(0,0,0,.5)
}

.modal-content {
    position: relative;
    height: auto;
    width: 100%;
    border: none;
}

/* The customcheck */
.customcheck {
    font-size: 14px !important;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none;
}

/* Hide the browser's default checkbox */
.customcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.customcheck:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.customcheck input:checked ~ .checkmark {
    background-color: #02cf32;
    border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.customcheck input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.customcheck .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*@keyframes scroll {
    100% {position:fixed; top:0px;}
}*/

#signin{
    position: fixed;
    top:5px;
    right: 5px;
    color: white;
    font-weight: bold;
}

/*css cho button hinh tron`*/
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.33;
  border-radius: 25px;
}
#main{
    width: 100%;
    height:100%;
}

/* phan cart */
#cartDetail{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    z-index: 100001;
    transition: 0.6s;
    overflow-y: scroll;
    
}
.modal-nav{
    width: 100%;
    height: 44px;
    background-color: white;
    position: sticky;
    top:0;
}
.modal-nav .modal-close{
    height: 100%;
    width: 44px;
    text-align: center;
    float: left;
}
.modal-close .fas{
    font-size: 30px;
    color: #9d9d9d;
    line-height: 44px;
}
.modal-nav .modal-name{
    float:left;
    font-size:18px;
    font-weight: bold;
    
    line-height: 44px;
    padding-left: 10px;
}
.modal-nav .modal-reset{
    float:right;
    padding-right: 8px;
    font-size:18px;
    text-align: center;
    line-height: 44px;
}
.modals-body{
    width: 100%;
}
.modals-body .modals-user{
   
    background-color: #faf6db;
    
}
.lines{
    width: 100%;
    height: 10px;
}
.modals-user-content{
    width: 100%;
    height: 35px;
    padding-left: 10px;
    
}
.modals-user img{
    width: 35px;
    height: 35px;
    float: left;
}
.modals-user .u-info{
    
    line-height: 35px;
    font-weight: bold;
    font-size: 15px;
    float:left;
}
.modals-user .moneyright{
    float:right;
    line-height: 35px;
    font-size: 15px;
}
.menu-item{
    width: 100%;
}
.menu-item-content{
    width: 97.5%;
    margin-left: 2.5%;
   
    padding-bottom: 10px;
    border-bottom: 1px solid #e7ecef;
    display: flex;
}
.item-main{
    
    width: 75%;
    font-size: 15px;
}
.item-price{
    margin-top: 7px;
    color: #4f78a0;
}
.item-note{
    color: #bbb;
}
.changeIcon{
    margin: 0 auto;
    font-size: 15px;
    display: flex;
    align-self: center!important;
    height: 100%;
}
.menu-item-add{
    background: #48739e;
    
    color: #fff;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    border-radius: 50%;
    display: block;
}
.menu-item-minus{
    
    color: #ff1919;
    box-shadow: inset 0 0 0 2px #ff3232;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    display: block;
}
.val-input{
    display: block;
    width: 30px;
    height: 30px;
    
    text-align: center;
    line-height: 30px;
}
.clear{
    display: block;
    clear: both;
}
#cartDetail .modal-footer{
    width: 100%;
    height: 43px;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    background-color: #48739e;
    color: white;
    border-color: #48739e;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
#error-message-modal{
    position: fixed;
    background-color: rgba(0,0,0,.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100002;
    display: none;
    
}
.modal-dialog{
    display: flex;
    min-height: calc(100% - 2rem);
    align-items: center;
    position: relative;
    width: auto;
    margin: 1rem;
}
.modal-dialog-content{
    width: 100%;
    border-radius: 13px;
}
.dialog-inner{
    padding: 15px;
    border-radius: 13px 13px 0 0;
    background: hsla(0,0%,100%,.95);
    text-align: center;
}
.dialog-title{
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}
.dialog-input-field{
    margin-top: 15px;
    margin: 0;
    padding: 0;
}
.dialog-input{
    height: 26px;
    background: #fff;
    padding: 0 5px;
    border: 1px solid rgba(0,0,0,.3);
    font-size: 14px;
    margin: 0;
    margin-top: 15px;
    border-radius: 0;
    -webkit-appearance: none;
    width: 100%;
    display: block;
    font-family: inherit;
}
.dialog-buttons{
    height: 44px;
    justify-content: center;
    display: flex;
    border-top: 1px solid #dfdfdf;
}
.dialog-button:first-child{
    border-radius: 0 0 0 13px;
    border-right: 1px solid #dfdfdf;
}
.dialog-button:last-child{
    border-radius: 0 0 13px 0;
}
.dialog-button{
    width: 100%;
    padding: 0 5px;
    height: 44px;
    font-size: 17px;
    line-height: 44px;
    text-align: center;
    color: #007aff;
    display: block;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    background: hsla(0,0%,100%,.95);
}

#modal-alert{
    position: fixed;
    background-color: rgba(0,0,0,.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100002;
    display: none;
}
.dialog-alert{
    height: 26px;
    padding: 0 5px;
    font-size: 14px;
    margin: 0;
    margin-top: 15px;
    border-radius: 0;
    -webkit-appearance: none;
    width: 100%;
    display: block;
    font-family: inherit;
}
/*end*/
/*phan check out*/
#checkout{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 200%;
    z-index: 100002;
    transition: 0.3s;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
}
.foo-btn-sticky{
    width: 100%;
    height: 40px;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    background-color: #08f;
    color: white;
    border-color: #48739e;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline;
}
.center{
    text-align: center;
}
.right{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
}
#map{
    width: 100%;
    height: 215px;
}
.location{
    width: 100%;
    display:flex;
    height: auto;
}
.icon-direction{
    width: 30px;
    height: inherit;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.direction-from{  
    width: 100%;
    height: calc(100%/3);
    color: #f00;
    margin-top: 5px;
}
.direction-to{
    width: 100%;
    height: calc(100%/3);
    color: #00ab34;
    margin-bottom: 5px;
    
}
.fromto{
    width: 100%;
    height: calc(100%/3);
    color: #3483fc;
}
.location-item{
    width: calc(100% - 30px);
}
.location-a:not(:last-child) {
    border-bottom: 1px solid #e9ecef;
}
.location-a {
    width: 100%;
    padding: 5px 10px 5px 0;
    margin-left: 10px;
    position: relative;
}

.location-name{
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;  
}
.location-address:not(:first-child){
    font-size: 13px;
    display: flex;
    
}
.location-address input{
  width: 100%;  
  font-size: 13px;
  line-height: 1.5;
  height: 35px;
  white-space: nowrap;
}

.location-address span{
    width: 40px;
    color: #adb5bd;
    margin: auto;
    font-size: 16px;
    height: inherit;
}
.o-menu{
    border-bottom: 1px solid #e9ecef;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #212529;
}
.o-menu-container{
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}
.o-menu-item:not(:last-child){
    border-bottom: 1px solid #e9ecef;
}
.o-menu-item {
    padding: 9px 70px 10px 0;
    margin-left: 25px;
    position: relative;
}
.o-menu-number {
    width: 17px;
    height: 17px;
    display: inline-block;
    background: #08f;
    position: absolute;
    border-radius: 3px;
    left: -25px;
    top: 9px;
    line-height: 17px;
    text-align: center;
    color: #fff;
}
.o-menu-name{
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}
.o-menu-price {
    position: absolute;
    right: 0;
    top: 7px;
    
}
.o-fee-sum {
    font-size: 15px;
}
.o-fee-item {
    padding: 5px 0;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 0;
}
.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 0;
}
.o-fee{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #212529;
}
.o-fee-code {
    display: inline-block !important;
    width: 120px;
    padding: 2px 5px;
    text-align: center;
    background: #e9ecef !important;
    margin-left: 5px;
    white-space: nowrap;
    vertical-align: -10%;
    color: #fe0000 !important;
    font-weight: 700;
    height: auto;
}
.o-fee-total {
    font-size: 18px;
    font-weight: 700;
}
.o-fee-note{
    padding-left: 0;
    padding-right: 0;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #dee2e6;   
}
.col textarea{
    border: none;
}

/*css cho phan test giao dien moi*/

#categories{
    
}
.d-menu-title {
    padding: 8px 10px;
    background: #f4f4f4;
    color: #6f6f6f;
    
}
.text-uppercase {
    text-transform: uppercase!important;
}
.d-menu-grids {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 10px 5px;
    background: #ebebeb;
}
.d-menu-grid {
    border-radius: 5px;
    overflow: hidden;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-width: 0;
    min-height: 0;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: calc(50% - 10px);
    background: #fff;
}
.embed-responsive{
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background: #eaeaea;
    height: 165.5px;
}
.menu-grid-img .embed-responsive-img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.embed-responsive .embed-responsive-img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.menu-grid-padding {
    padding: 5px 7px;
}
.menu-grid-name {
    font-weight: 700;
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
img {
    vertical-align: middle;
    border-style: none;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.mt-1 {
    margin-top: .25rem!important;
}
.menu-grid-price {
    font-size: 13px;
    line-height: 1.2;
}
.col-auto2 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}
.menu-grid-number {
    margin: 5px 0;
}
.text-center {
    text-align: center!important;
}
.menu-item-add-small{
    width: 15px;
    height: 15px;
    font-size: 9px;
    color: #fff;
    background: #48739e;
    text-align: center;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.modal-content .modal-header {
    background: #f3f3f3;
    position: relative;
    z-index: 1;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.modal-header {
    display: -ms-flexbox;
    display: flex;
    padding: .5rem;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background: #fff;
    position: relative;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    border-bottom: none;
}
.modal-content .modal-header .d-menu-item {
    border-bottom: none;
}
.modal-content .d-menu-item {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
}
.menu-item-number {
    position: absolute;
    bottom: 8px;
    right: 8px;
    width: 90px;
}
.justify-content-end {
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}
.menu-item-number .menu-item-minus,.menu-item-add, input{
    width: 28px;
    height: 28px;
    font-size: 14px;
}
.menu-item-number .form-control {
    width: 28px;
    margin: 0 auto;
    padding: 4px 0;
}
.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.form-control-sm{
    font-size: 13px;
    line-height: 1.5;
    border-radius: .2rem;
    display: block;
    color: #5b5b5b;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #b7b7b7;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.menu-item-name {
    font-size: 14px;
    width: 100%;
    font-weight: 700;
    display:inline-block;
    margin-bottom: 5px;
}
.modal-nav1 {
   
    width: 100%;
    height: 44px;
}
.container{
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}
.navbar.navbar-blue {
    background: #08f;
    color: #fff;
    position: relative;
    height: 44px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-weight: 700;
}
.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}
.navbar-left, .navbar-right {
    text-align: center;
    padding: 0;
}
.navbar-title {
    line-height: 1.2;
}
.navbar-link.navbar-link-txt {
    min-width: 70px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
}
.navbar-blue span, .navbar-blue span:focus, .navbar-blue span:hover {
    color: #fff;
}
.svg-md {
    font-size: 28px;
}
.navbar-link {
    display: block;
    min-width: 44px;
    height: 44px;
    line-height: 44px;
}
.img-fluid {
    height: 80px;
    width: 80px;
}
img {
    vertical-align: middle;
    border-style: none;
}