<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hoa Trà</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/styleMobile.css}" href="../../css/styleMobile.css" />
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/rainyday.js/0.1.2/rainyday.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
        <style>
            body {
                position: relative; 
            }
            #section1 {color: black; background-color: #ffffff;}
            #section2 {color: black; background-color: #ffffff;}
            #section3 {color: black; background-color: #ffffff;}
            #section4 {padding-bottom: 100px;color: black; background-color: #ffffff;}

        </style>
    </head>
    

    <body  data-spy="scroll" data-target=".navbar1" data-offset="60">
        
        <!-- Session -->
        <input hidden id="user" type="text" th:value="${session.USER}">
        <!-- Session -->
        <div id="main">
            <img id="test" class="navbar-header rain" src="" style=" width:100%;"/>


            <nav class="navbar1 navbar-inverse navbar-fixed-top">

                <div class="container-fluid">



                    <div>
                        <div id="myNavbar">
                            <ul class="nav navbar-nav" id="menucategorios">
                                <!-- locate of menu -->
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <!--<img id="loadding"   src="/images/loading.gif" style=" width:100%;"/>     -->
            <div id="categories">
                <!-- locate of categories -->
                <!-- phan test -->
                <section id="1">
                    <div class="d-menu-title text-uppercase false">Special Tea</div>
                    <div class="d-menu-grids">
                        <div class="d-menu-grid">
                            <div class="menu-grid-img">
                                <div class="embed-responsive">
                                    <img src="/images/1.jpg" class="embed-responsive-img" alt="Trà sữa Phúc Long (đá)">
                                </div>
                            </div>
                            <div class="menu-grid-padding">
                                <div class="menu-grid-name text-truncate">Trà sữa Phúc Long (đá)</div>
                            </div>
                        </div>
                    </div>
                </section>
                
                
            </div>   


            <div class="container-fluid" style="height: 350px;">

            </div>
            <!-- layout chon option tung mon hang-->

            <!-- end layout chon option tung mon hang-->

            <!-- form checkout -->

            <!-- end form checkout -->
            <footer class="footer">
                <div class="container">
                    <ul class="social-icon animate pull-right">
                        <li id="login">
                            <button class="btn btn-primary"><text>Login with <text>
                            <i class="fa fa-facebook-official"></i>  
                             </button>
                        </li>
                        <li id="hi">
                            wellcome,<span th:text="${session.USER.name}" th:unless="${session.USER == null}"></span>
                        </li>
                    </ul>
                    <div  id="cart" style="width:80px">
                        <i style="margin-top:3px; font-size: 30px;color: #0ccaff;" class="fas fa-shopping-cart"></i>
                        <span id="slCart" style="background-color: #fd7e14;" class="badge">0</span>
                    </div>
                </div>
            </footer>
        </div>
        <div id="overlay">
        
        
        </div> 
        
        <div id="cartDetail">
            <div class="modal-nav">
                <div onclick="document.getElementById('cartDetail').style.left = '100%';$('body').css('overflow','visible');" class="modal-close">
                    <i class="fas fa-angle-left"></i>
                </div>
                <div class="modal-name">Hoa trà</div>
                <div class="modal-reset">
                    Reset
                </div>
            </div>
            <div class="modals-body">
                <div class="modals-user">
                    <div class="lines">
                        
                    </div>
                    <div id="userInfo" class="modals-user-content">
                        <!--  hien thi userInfo here-->
                    </div>
                    <div class="lines">
                        
                    </div>
                </div>
                <div id="CartItems">
                <!-- class="menu-item"  hien thi item cart here-->
                </div>
                <div class="lines" style="height: 43px !important;"></div>
                    
                
            </div>
            <div class="modal-footer">
                Continue
            </div>
        </div>
        <div id="checkout">
            <div class="modal-nav">
                <div onclick="document.getElementById('checkout').style.left = '200%';$('body').css('overflow','hidden');" class="modal-close">
                    <i class="fas fa-angle-left"></i>
                </div>
                <div class="modal-name">Checkout</div>
            </div>
            <div class="modals-body">
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.0525222809147!2d106.67737351530609!3d10.807289392300627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528ded759db13%3A0x88721a1ec8b50f45!2zMjIzIFRow61jaCBRdeG6o25nIMSQ4bupYywgUGjGsOG7nW5nIDQsIFBow7ogTmh14bqtbiwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1537885732477" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                
                <div class="location">
                    <div class="icon-direction">
                        <div class="direction-from"><i class="fas fa-map-marker-alt"></i></div>
                        <div class="fromto"> <i class="fas fa-ellipsis-v"></i></div>
                        <div class="direction-to"><i class="fas fa-map-marker-alt"></i></div>
                    </div>
                    <div class="location-item">
                        <div class="location-a">
                            <div class="location-name">Hoa Trà Quán - LoThaMilk & Tea </div>
                            <div class="location-address">223 Thích Quảng Đức,Quận Phú Nhuận, Hồ Chí Minh</div>
                        </div>
                        <div class="location-a">
                            <div class="location-name">Vu Dung</div>
                            <div class="location-address" style="border-bottom: 1px solid #e7ecef;">
                                <span><i class="fas fa-address-card"></i></span>
                                <input type="text" value="" placeholder="Please enter address...">
                            </div>
                            <div class="location-address">
                                <span><i class="fa fa-phone"></i></span>
                                <input type="number" value="" placeholder="Please enter phone number...">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="lines" style="background-color: #e7ecef;"></div>
                
                <div class="o-menu">
                    <div class="o-menu-container">
                        <div>
                            <div class="o-menu-item">
                                <span class="o-menu-number">1</span>
                                <div class="o-menu-name">
                                    Trà vải &nbsp;
                                    <span class="menu-item-note">[Regular Size, Vị lài]</span>
                                </div>
                                <span class="o-menu-price">40,000đ</span>
                            </div>
                            <div class="o-menu-item">
                                <span class="o-menu-number">1</span>
                                <div class="o-menu-name">
                                    Trà vải &nbsp;
                                    <span class="menu-item-note">[Regular Size, Vị lài]</span>
                                </div>
                                <span class="o-menu-price">40,000đ</span>
                            </div>
                          
                            <div class="o-menu-item">
                                <span class="modal-button text-primary">
                                    <div>2 items more ...</div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="o-fee ">
                    <div class="o-menu-container">
                        <div class="row o-fee-item o-fee-sum">
                            <div class="col">
                                Total 
                                <strong>5</strong>
                                items &nbsp;
                            </div>
                            <div class="col-auto">
                                <strong>195,000d</strong>
                            </div>
                        </div>
                        <div class="row o-fee-item">
                            <div class="col">
                                Ship fee: 
                            </div>
                            <div class="col-auto">
                                195,000d
                            </div>
                        </div>
                        <div class="row o-fee-item">
                            <div class="col">
                                Discount code
                                <button class="form-control form-control-sm o-fee-code text-uppercase">Enter code</button>
                            </div>
                            <div class="col-auto">
                               
                            </div>
                        </div>
                        <div class="row o-fee-item o-fee-total">
                            <div class="col ">Total :</div>
                            <div class="col-auto"><strong>262,150đ</strong></div>
                        </div>
                        <div class="row o-fee-item o-fee-note">
                            <div class="col ">
                                <textarea name="note" class="form-control" cols="30" rows="1" placeholder="Note"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="foo-btn-sticky">
                <div class="center">
                    Submit Order
                    <i class="fas fa-angle-right"></i>
                </div>
                <div class="right">
                    189,000d
                </div>
            </div>
        </div>
        
        <div id="error-message-modal">
            <div class="modal-dialog">
                <div class="modal-dialog-content">
                    <div class="dialog-inner">
                        <div class="dialog-title">Note</div>
                        <div class="dialog-input-field">
                            <input type="text" class="dialog-input" value=""/>
                        </div>
                    </div>
                    <div class="dialog-buttons">
                        <span class="dialog-button dialog-cancel">Cancel</span>
                        <span class="dialog-button dialog-done">Done</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-alert">
            <div class="modal-dialog">
                <div class="modal-dialog-content">
                    <div class="dialog-inner">
                        <div class="dialog-title">Reset cart</div>
                        <div class="dialog-input-field">
                            <div class="dialog-alert">Do you want to empty the cart?</div>
                        </div>
                    </div>
                    <div class="dialog-buttons">
                        <span class="dialog-button dialog-No">No</span>
                        <span class="dialog-button dialog-Reset">Reset</span>
                    </div>
                </div>
            </div>
        </div>
        
        <script type="text/javascript" src="js/jquery/jquery.js"></script>
        <script type="text/javascript" src="js/cart.js"></script>
        <script th:inline="javascript"></script>
         
    </body>


</html>
