<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hoa Trà</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/styleMobile.css}" href="../../css/styleMobile.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
        <style>
            body {
                position: relative; 
            }
            

        </style>
    </head>
    

    <body  data-spy="scroll" data-target="#navbar1" data-offset="60">
        
        <!-- Session -->
        <input hidden id="user" type="text" th:value="${session.USER}">
        <!-- Session -->
        <div id="main">
            <img id="test" class="navbar-header rain" src="" style=" width:100%;"/>


            <nav id="navbar1" class="navbar1 navbar-inverse navbar-fixed-top">

                <div class="container-fluid">



                    <div>
                        <div id="myNavbar">
                            <ul class="nav navbar-nav" id="menucategorios">
                                <!-- locate of menu -->
                                <li  th:each="item : ${categogies}" style="text-align: center;width:25%;">
                                    <a th:href="${'#section'+item.id}">[[${item.name}]]</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <!--<img id="loadding"   src="/images/loading.gif" style=" width:100%;"/>     -->
            <div id="categories" >
                <!-- locate of categories -->
                <!-- phan test -->
                <section th:id="${'section'+item.id}" th:each="item : ${categogies}">
                    
                    <div class="d-menu-title text-uppercase false">[[${item.name}]]</div>
                    <div  class="d-menu-grids">
                        <div th:each="product: ${products}" th:if="${product.cId} == ${item.id} " class="d-menu-grid">
                            <p hidden>[[${product.id}]]</p>
                            <div class="menu-grid-img">
                                <div class="embed-responsive">
                                    <img th:src="${'/images/'+product.images}" class="embed-responsive-img" alt="Trà sữa Phúc Long (đá)">
                                </div>
                            </div>
                            <div class="menu-grid-padding">
                                <div class="menu-grid-name text-truncate">[[${product.name}]]</div>
                                <div class="row no-gutters align-items-center mt-1">
                                    <div class="col">
                                        <div class="menu-grid-price text-truncate" th:text="${#numbers.formatDecimal(product.price ,0, 'COMMA', 0, 'POINT')+ 'đ'}"></div>
                                    </div>
                                    <div class="col-auto2">
                                        <div class="menu-grid-number">
                                            <div class="row no-gutters justify-content-end align-items-center">
                                                <div class="col-auto2 text-center ">
                                                    <span class="menu-item-add-small"><i class="fas fa-plus"></i></span>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </section>
                <div class="container-fluid" style="height:50px;">
                    
                </div>
                
                
                
                
                
                
            </div>   


           
            <!-- layout chon option tung mon hang-->

            <!-- end layout chon option tung mon hang-->

            <!-- form checkout -->

            <!-- end form checkout -->
            <footer class="footer">
                <div class="container">
                    <ul class="social-icon animate pull-right">
                        <li id="login">
                            <button class="btn btn-primary"><text>Login with <text>
                            <i class="fa fa-facebook-official"></i>  
                             </button>
                        </li>
                        <li id="hi">
                            wellcome,<span th:text="${session.USER.name}" th:unless="${session.USER == null}"></span>
                        </li>
                    </ul>
                    <div  id="cart" style="width:80px">
                        <i style="margin-top:3px; font-size: 30px;color: #0ccaff;" class="fas fa-shopping-cart"></i>
                        <span id="mainsl" style="background-color: #fd7e14;" class="badge slcart">0</span>
                    </div>
                </div>
            </footer>
        </div>
        <div id="overlay">
        
        
        </div> 
        
        <div id="cartDetail">
            <div class="modal-nav">
                <div onclick="document.getElementById('cartDetail').style.left = '100%';$('body').css('overflow','visible');" class="modal-close">
                    <i class="fas fa-angle-left"></i>
                </div>
                <div class="modal-name">Hoa trà</div>
                <div class="modal-reset">
                    Reset
                </div>
            </div>
            <div class="modals-body">
                <div class="modals-user">
                    <div class="lines">
                        
                    </div>
                    <div id="userInfo" class="modals-user-content">
                        <!--  hien thi userInfo here-->
                    </div>
                    <div class="lines">
                        
                    </div>
                </div>
                <div id="CartItems">
                <!-- class="menu-item"  hien thi item cart here-->
                </div>
                <div class="lines" style="height: 43px !important;"></div>
                    
                
            </div>
            <div class="modal-footer">
                Continue
            </div>
        </div>
        <div id="checkout">
            <div class="modal-nav">
                <div onclick="document.getElementById('checkout').style.left = '200%';$('body').css('overflow','hidden');" class="modal-close">
                    <i class="fas fa-angle-left"></i>
                </div>
                <div class="modal-name">Checkout</div>
            </div>
            <div class="modals-body">
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.0525222809147!2d106.67737351530609!3d10.807289392300627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528ded759db13%3A0x88721a1ec8b50f45!2zMjIzIFRow61jaCBRdeG6o25nIMSQ4bupYywgUGjGsOG7nW5nIDQsIFBow7ogTmh14bqtbiwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1537885732477" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                
                <div class="location">
                    <div class="icon-direction">
                        <div class="direction-from"><i class="fas fa-map-marker-alt"></i></div>
                        <div class="fromto"> <i class="fas fa-ellipsis-v"></i></div>
                        <div class="direction-to"><i class="fas fa-map-marker-alt"></i></div>
                    </div>
                    <div class="location-item">
                        <div class="location-a">
                            <div class="location-name">Hoa Trà Quán - LoThaMilk & Tea </div>
                            <div class="location-address">223 Thích Quảng Đức,Quận Phú Nhuận, Hồ Chí Minh</div>
                        </div>
                        <div id="location-U" class="location-a">
                            <!-- ajax checkout js load-->
                            
                        </div>
                    </div>
                    
                </div>
                <div class="lines" style="background-color: #e7ecef;"></div>
                
                <div class="o-menu">
                    <div class="o-menu-container">
                        <div id="cartitemsCheckout">
                            <!-- ajax checkout js load-->
                        </div>
                    </div>
                </div>
                
                <div class="o-fee ">
                    <div class="o-menu-container">
                        <div class="row o-fee-item o-fee-sum">
                            <div class="col">
                                Total 
                                <strong class="slcart">5</strong>
                                items &nbsp;
                            </div>
                            <div class="col-auto">
                                <strong class="totalinvoice"></strong>
                            </div>
                        </div>
                        <div class="row o-fee-item">
                            <div class="col">
                                Ship fee: 
                            </div>
                            <div class="col-auto">
                                0 đ
                            </div>
                        </div>
                        <div class="row o-fee-item">
                            <div class="col">
                                Discount code
                                <button class="form-control form-control-sm o-fee-code text-uppercase">Enter code</button>
                            </div>
                            <div class="col-auto">
                               
                            </div>
                        </div>
                        <div class="row o-fee-item o-fee-total">
                            <div class="col ">Total :</div>
                            <div class="col-auto"><strong class="totalinvoice"></strong></div>
                        </div>
                        <div  class="row o-fee-item o-fee-note">
                            <div class="col ">
                                <span id="noteCart" class="item-note">Note...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="foo-btn-sticky">
                <div class="center">
                    Submit Order
                    <i class="fas fa-angle-right"></i>
                </div>
                <div class="right">
                    189,000d
                </div>
            </div>
        </div>
        
        <div id="error-message-modal">
            <div class="modal-dialog">
                <div class="modal-dialog-content">
                    <div class="dialog-inner">
                        <div class="dialog-title">Note</div>
                        <div class="dialog-input-field">
                            <input type="text" class="dialog-input" value=""/>
                        </div>
                    </div>
                    <div class="dialog-buttons">
                        <span class="dialog-button dialog-cancel">Cancel</span>
                        <span class="dialog-button dialog-done">Done</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-alert">
            <div class="modal-dialog">
                <div class="modal-dialog-content">
                    <div class="dialog-inner">
                        <div class="dialog-title">Reset cart</div>
                        <div class="dialog-input-field">
                            <div class="dialog-alert">Do you want to empty the cart?</div>
                        </div>
                    </div>
                    <div class="dialog-buttons">
                        <span class="dialog-button dialog-No">No</span>
                        <span class="dialog-button dialog-Reset">Reset</span>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/rainyday.js/0.1.2/rainyday.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <script type="text/javascript" src="js/cart.js"></script>
        <script type="text/javascript" src="js/product.js"></script>
        <script type="text/javascript" src="js/checkout.js"></script>
        <script th:inline="javascript">
        //$('#categories').css('display','none');  //wait load content  
        window.fbAsyncInit = function() {
            FB.init({
              appId            : '480433499099624',
              autoLogAppEvents : true,
              xfbml            : true,
              version          : 'v3.1'
            });
          };

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "https://connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
           var person= {userID:"",name: "",accessToken: "", picture: "",email: "" };
           function loginface(){
               FB.login(function (response){
                    if(response.status=="connected"){
                        person.accessToken=response.authResponse.accessToken;
                        person.userID=response.authResponse.userID;
                        FB.api('/me?fields=id,name,first_name,last_name,email,picture.type(large)',function (userData){
                            person.name = userData.name;
                            person.email = userData.email;
                            person.picture = userData.picture.data.url;
                            
                            $.ajax({
                                url: "/login",
                                method: "POST",
                                data: person,
                                dataType: 'text',
                                success: function(res){
                                    var data=jQuery.parseJSON(res);
                                    idcart=data.id;
                                    login=true;
                                    $('#login').css('display','none');
                                    document.getElementById("hi").innerHTML=`wellcome,`+data.name;
                                    $('#hi').css('display','block');
                                    $('.slcart').text(res.count);
                                    sessionStorage.setItem('user', "true");
                                    
                                }
                            });
                        });
                    }
                },{scope: 'public_profile, email'});
           }
               
            /*<![CDATA[*/
            
            var user = /*[[${session.USER}]]*/ 'default';
            /*]]>*/
            
            var login;
            var idcart;
            
            if(user == null && sessionStorage.getItem('user')==null){// when not login
                $('#login').css('display','block');
                $('#hi').css('display','none');
                login=false;
            
                
            }else{  // when logined
                $('#login').css('display','none');
                $('#hi').css('display','block');
                
                loadlai();
            
            }
            function loadlai(){
                $.ajax({
                    type: 'GET',
                    headers: {Accept: "application/json; charset=utf-8", "Content-Type": "application/json; charset=utf-8"},
                    dataType: 'json',
                    cache: false,
                    url: '/getCart',
                    success: function (res) {
                        //var data=jQuery.parseJSON(res);
                        
                                console.log(res);
                                login=true;
                                idcart=res.id;
                                $('#login').css('display','none');
                                document.getElementById("hi").innerHTML=`wellcome,`+res.name;
                                $('#hi').css('display','block');
                                $('.slcart').text(res.count);
                    }
                });
            }
        
            $('#login').click(function(){
                loginface();
            });
            
            var itemProduct;
            var listLevelSugar;
            
            //chinh lai phan thanh dieu huong
           
            
            
            
            //end chinh lai phan thanh dieu huong
            
            
            
            
            
            
            
           
           
           
           var image = document.getElementById('test');
                /*image.onload = function() {
                  var engine = new RainyDay({
                    image: this,
                    gravityAngle: Math.PI / 5

                  });
                  engine.trail = engine.TRAIL_SMUDGE;
                  engine.rain([ [3, 2, 2] ], 100);
                  engine.rain(
                    [
                        [1, 0, 20], 
                        [3, 3, 1],
                        [1, 2, 19]
                    ],                       
                    100);
                 // engine.rain([ [0, 2, 200], [3, 3, 1] ], 100);
                };
                image.crossOrigin = 'anonymous';*/
                image.src = '/images/banner.jpg';
                
            
            
            
            
            
        </script>
         
    </body>


</html>
